@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-200 text-neutral-600;
}

.react-grid-item.react-grid-placeholder {
  @apply bg-violet-400;
}

.react-draggable-transparent-selection { 
  user-select: none; 
}

.react-grid-item > .react-resizable-handle {
  visibility: hidden;
  background-image: none;
}

.react-grid-item > .react-resizable-handle::after {
  bottom: 6px;
  right: 6px;
  width: 7px;
  height: 7px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  @apply border-neutral-400;
}

.react-grid-item:hover > .react-resizable-handle {
  visibility: visible;
}

.react-grid-item {
  transition-duration: 0ms;
}